.menu {
   margin-bottom: 100px;
}
.menu__container {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 40px;
}
.menu__title {
   width: 800px;
   text-align: center;
}
.menu__navigation {
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.menu__tabs {
   display: flex;
   justify-content: center;
   gap: 16px; 
}
.menu__tab {
   display: flex;
   align-items: center;
   gap: 8px;
   border-radius: 100px;
   border: 1px solid var(--border-light);
   padding: 7px 16px 7px 8px;
   cursor: pointer;
   transition: ease-out 0.5s;
}
.menu__tab span {
   transition: ease-out 0.5s;
}
.menu__tab img {
   border-radius: 100px;
   background: var(--border-light);
   padding: 6.5px;
}
 .menu__items-container:not(._active) {
   display: none;
 }
.menu__tab-active {
   display: flex;
   align-items: center;
   gap: 8px;
   border-radius: 100px;
   border: 1px solid var(--border-light);
   padding: 7px 14.56px 7px 8px;
   pointer-events: none;
   background: var(--background-container);
}
.menu__tab-active span {
   color: var(--text-light);
}
.menu__tab-active img {
   border-radius: 100px;
   background: var(--background-body);
   padding: 6.5px;
}
.menu__items-container {
   flex-direction: column;
   gap: 40px;
}
._active {
   display: flex;
}
.menu__items {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
}
.menu__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 40px;
   border: 1px solid var(--border-light);
   width: 310px;
   height: 506px;
   cursor: pointer;
}
.menu__image {
   overflow: hidden;
   border-radius: 40px;
   height: 310px;
   flex: 0 0 auto;
}
.menu__image img{
   transform: scale(1.1);
   object-fit: cover;
   width: 100%;
   transition: ease-out 0.5s;
   max-width: 310px;
   height: 100%;
}
.menu__text {
   display: flex;
   flex-direction: column;
   gap: 12px;
   padding: 20px;
   height: 100%;
}
.menu__info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.menu__refresh {
   display: none;
}
.modal {
   position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal__dialog {
   max-width: 800px;
   width: 100%;
   margin: 0 40px;
}
.modal__content {
   position: relative;
	width: 100%;
   display: flex;
   gap: 20px;
   margin: 0 auto;
   padding: 16px;
   border-radius: 40px;
   border: 1px solid black;
   overflow-y: auto;
   background: var(--background-body, #E1D4C9);
}
.modal__img {
}
.modal__img img {
   object-fit: cover;
   max-width: 310px;
   border-radius: 40px;
}
.modal__info {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.modal__title {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.modal__size {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.size__options {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
}
.size__option,
.add__option {
   display: flex;
   padding: 8px 16px 8px 8px;
   justify-content: center;
   align-items: center;
   gap: 8px;
   border-radius: 100px;
   border: 1px solid var(--border-light, #C1B6AD);
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
}
.size__option-active,
.add__option-active {
   background: var(--background-container, #665F55);
   color: var(--text-light, #E1D4C9);
}
.size__option-active span:nth-child(1) ,
.add__option-active span:nth-child(1) {
   background: var(--background-body);
   color: var(--text-dark);
}
.size__sign,
.add__sign {
   border-radius: 100px;
   display: flex;
   padding: 3px 9px 3px 10px;
   justify-content: center;
   align-items: center;
   background: var(--border-light, #C1B6AD);
}
/* .size__sign-active,
.add__sign-active {
   background: var(--background-body, #E1D4C9);
   color: var(--text-dark, #403F3D);
} */
.modal__add {
   display: flex;
   flex-direction: column;
   gap: 8px;
}
.add__options {
   display: flex;
   gap: 8px;
   flex-wrap: wrap;
}
.modal__total {
   display: flex;
   justify-content: space-between;
}
.modal__alert {
   border-top: 1px solid var(--border-light, #C1B6AD);
   padding: 12px 0px 12px 20px;
   background: url(../icons/modal-alert.svg) left 12px no-repeat;
}
.modal__btn a{
   display: block;
   border-radius: 100px;
   border: 1px solid var(--border-dark, #665F55);
   text-align: center;
   padding: 10px 0px;
}
.show__modal {
   display: flex;
   align-items: center;
   justify-content: center;
}
.hide__modal{
   display: none;
}
@media (max-width: 870px) {
   .menu__title {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .menu__item-coffee:nth-last-child(-n+4) {
      display: none;
   }
   .menu__item-dessert:nth-last-child(-n+4) {
      display: none;
   }
   .menu__refresh {
      display: flex;
      justify-content: center;
   }
   .menu__refresh img {
      border-radius: 100px;
      border: 1px solid var(--border-dark);
      padding: 17px;
   }
}
@media (max-width: 620px) {
   .menu__tabs {
      gap: 8px; 
   }
   .modal__dialog {
      max-width: 688px;
   }
   .size__options {
      flex-wrap: wrap;
   }
   .add__options {
      flex-wrap: wrap;
   }
   
}
@media (max-width: 650px) {
   .modal__img {
      display: none;
   }
   .modal__dialog {
      margin: 0 19px;
   }
}
@media (hover:hover) and (pointer:fine) {
   .menu__item:hover .menu__image img {
      transition: ease-out 0.5s;
      transform: scale(1);
   }
   .menu__tab:hover {
      background: var(--background-container);
      transition: ease-out 0.5s;
   } 
   .menu__tab:hover span {
      color: var(--text-light);
      transition: ease-out 0.5s;
   }
   .menu__tab:hover img {
      background: var(--background-body);
      transition: ease-out 0.5s;
   }
}
.show {
   display: flex;
}
.hide {
   display: none;
}
.fade {
   animation-name: fade;animation-duration: 1.5s;
}
@keyframes fade {
   from
   {
      opacity:0.1;
   }
   to
   {
      opacity: 1;
   }
}